.textWithCopy {
  font-weight: 600;
  font-size: 36px;
  color: transparent;
  line-height: 42px;
  background: linear-gradient(97.12deg, #ffd748 0.93%, #f7a600);
  -webkit-background-clip: text;
  background-clip: text;
}
