@use "sass:math";
@import "./config/functions";
@import "./config/mixins";
@import "./config/variables";
@import "./components/buttons";
@import "./components/card";

.mantine-Carousel-controls {
  width: calc(100% + 80px);
  padding: 0 !important;
  left: -40px !important;
}
.mantine-Tabs-tabLabel {
  opacity: 0.5;
}
:where([data-active]) {
  .mantine-Tabs-tabLabel {
    opacity: 1;
  }
}
